body div[data-wzb='ContactForm'],
[id^='ztb_contact_form'] {
  display: none !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-justify-center {
  justify-content: center;
}
