/*CSS code for Footer.jsx*/
.Footer {
  padding: 2% 0 2% 0;
}

.Footer h1 {
  margin-bottom: 30px;
}

a {
  margin: 0 2.5% 0 2.5%;
}

.social-media {
  text-align: center;
  margin-bottom: 30px;
}

.instant,
.twitter,
.mail,
.youtube {
  padding: 2% 2% 2% 2%;
  font-size: 50px;
  color: #d5d5d5;
  display: inline-block;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 0 2px #888;
  -webkit-transition-duration: 0.4s; /*Sets transition time for hover */
  transition-duration: 0.4s; /*Sets transition time for hover */
  margin: 0 auto;
}

/*Sets a new colour with a transition delay*/
.instant:hover,
.twitter:hover,
.mail:hover {
  background-color: #666166;
}

p {
  text-align: center;
}
